.card {
  display: inline-block;
  width: 32%;
  margin: 0% 1% 1% 0%;
  text-align: center;
  cursor: pointer;
  .card-img-top {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  .card-title {
    margin-bottom: 0px;
    color: #05668D;
  }
}


