.navbar-brand {
  font-family: 'Oswald', sans-serif;
  color: white;
}

.house-accent {
    color: #05668D;
    font-size: 33px;
    line-height: 15px;
    margin-right: 2px;
}

.navbar {
  background-color: #679436;
}

