.favourites-modal {
  position: fixed;
  width: 9%;
  height: 94%;
  top: 56px;
  right: 0px;
  text-align: center;
  background-color: white;
  border-left: 3px solid #427aa1;
}

h4 {
  margin-top: 12px;
}

p {
  color: grey;
  font-size: 16px;
}
